*{
    padding: 0;
    margin: 0;
    font-family: Raleway,sans-serif;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

.head__link li{
    margin-left: 3px;
    padding: 0 34px;
}

.d-flex{
    display: flex;
}

header{
    box-shadow: 0 0 4px 4px rgb(0 0 0 / 5%);
    z-index: 9999;
    height: 90px;


    transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
}

.btn__cstm{
    color: white!important;
    background-color: #43806C;
    padding: 10px 15px;
    border-radius: 6px;
}

.head__link{
    align-items: center;
}

.head__link li a{
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0em;
    color: #214E41;
}

.logo{
    width: 75px;
}

header .p-head{
    padding: 31px 45px;
}

.me-auto{
    margin-right: auto;
}

.parralax{
    background-image: url(/assets/img/pre-main.jpg);
    height: 90vh;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-position: 50% 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.bg-white{
    background-color: white;
}

.content{
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}

.mb-100{
    margin-bottom: 100px;
}

.info__hd{
    margin: 0 100px;
    padding: 50px;
    border-radius: 6px;
    box-shadow: 1px 1px 4px 0 rgb(232 230 230 / 60%);
    grid-column-gap: 16px;
}

.info__hd .col-4 img{
    width: auto;
    height: 45px;
    margin-top: 5px;
    margin-right: 10px;
    padding-top: 0;
}

.h__info__hd{
    color: #214e41;
    margin-bottom: 5px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
}

.p__info__hd{
    color: #214e41;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
}